* {
    margin: 0px;
    padding: 0px;

    &:focus {
        outline: none;
    }
}

a {
    color: black;
    text-decoration: none;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}